body, .container a{
	font-family: "Vegur" "Lucida Grande","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
	color: #f2f2f2;
	font-size: 20px;
}

.container{
	background: url(images/forest_medium.jpg) center /cover no-repeat;
	text-align: center;
	height: 700px;
}
header, .container a, .promos div, footer{
	position: relative;
}
header{
	padding: 10px 0;
	font-size: 1em;
	background: rgba(0,0,0,0.6);
}
section, div{
	height: 200px;
}
nav{
	display: flex;
    justify-content: space-between;
	width: 1175px;
	text-align: justify;
}
nav, .container a, h1{
	margin: auto;
}
a, a img, .container a, h1{
	vertical-align: middle;
	
}
a, a img{
	text-decoration: none;
}
header a:hover{
	color: #ccc;
}

h1{
	font-size: 64px;
	width: 900px;
	margin-top: 250px;
}
#action{
	display: block;
	padding-top: 40px;
}
.promos div, li{
	display: inline-block;
}
.promos div, .promos a{
	width: 50%;
}
.promos div{
	min-width: 586px;
	float: left;
}
.promos a, ul, p.copyright{
	position: absolute;
}
.promos a{
	height: 200px;
	border: solid 4px white;
}
.promo1, .promo3{
	left: 0;
}
.promo2, .promo4{
	right: 0;
}
.promo1{
	background: url(images/promo_world_gallery_large.jpg) center;
}
.promo2{
	background: url(images/promo_watch_large.jpg) center;
}
.promo3{
	background: url(images/christy.jpg)center;
}
.promo4{
	background: url(images/promo_macbook_large.jpg) center;
}
@media (max-width: 1175px){
	.promos div{
		width:100%;
	}
	section{
		height: 400px;
	}
}
footer{
	padding: 0 22px;
	clear: both;
	max-width: 1050px;
	margin: 20px auto 40px auto;
	height: 45px;
}
footer a, p{
	padding: 0 4px;
}
.copyright a, li{
	border-right: solid 1px #999;
}
footer a:last-child, li:last-child{
	border: none;
}
footer p, li, a{
	color: #999;
	font-size: 13px;
}
footer a{
	text-decoration: none;
	color: #666;
}
footer a:hover{
	color: #666;
}
.container a:hover, footer a:hover{
	text-decoration: underline;
}

ul{
	top: 0;
	right: 22px;
}
ul img{
	height: 15px;
}
p.copyright {
	bottom: 0;
	left: 22px;
}
@media (max-width: 1100px){
	ul{
		position: static;
	}
	footer{
		height: 60px;
	}
}